@import url(../../../index.css);

.cls-form {
  border: none;
  outline: none;

  .cls-frm-input,
  .btn-submit {
    padding: 0.5rem 1rem;
  }

  .cls-frm-input {
    outline: none;
    margin: 0 1rem 2rem 0;
    width: 375px;
  }
}
