@import url(../../../index.css);

/* list item */
.cls-item {
  color: var(--amrcnSilver-clr);
  font: normal 500 1rem var(--open-sans-fnt);
  list-style-type: none;
  border-radius: 3px;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;

  transition-property: background-color, color;
  transition: 300ms ease-in-out;

  &:nth-child(odd) {
    background-color: var(--oxley-clr);
    color: #fff;

    &:hover {
      /* opacity: 0.85; */
      background-color: var(--amrcnSilver-clr);
      color: var(--msuGreen-clr);
    }
  }
  &:nth-child(even) {
    background-color: var(--amrcnSilver-clr);
    color: var(--msuGreen-clr);

    &:hover {
      background-color: var(--oxley-clr);
      color: #fff;
    }
  }

  /* checkbox */
  input[type="checkbox"] {
    /* outline: none;
    border: none; */
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    margin-right: 0.5rem;

    &:checked {
      background-color: #4caf50;
      color: red;
    }
  }

  .btn-item {
    margin-left: 1rem;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background-color: var(--brightGray-clr);
    cursor: pointer;
    font: normal 400 1rem var(--open-sans-fnt);
    color: var(--msuGreen-clr);
    transition-property: opacity;
    transition: 300ms ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }

  .btn-edit {
    background-color: #eee4b1;
  }

  .btn-delete {
    background-color: #c08080;
    color: var(--brightGray-clr);
  }
}
